@font-face {
    font-family: CrimsonText;
    src: url(../assets/CrimsonText-Regular.ttf);
}
.basicBody {
    background-color: gainsboro;
}
.navSpace {
    margin-top: 100px;
}
.Title {
    text-align: center;
    font-family: CrimsonText;
    font-size: 45px;
}
.bannerImg {
    max-width: 900px;
    min-width: 400px;
    margin-bottom: -16px;
}
hr {
    color: black;
    opacity: 100%;
}
.fontCorrect {
    font-family: CrimsonText;
    margin-top: 30px;
}
.standard {
    font-family: CrimsonText;
    font-size: 24px;
    margin: 40px;
}
.listHeader {
    font-family: CrimsonText;
}
.listImg {
    margin: 0px;
    padding: 0px;
    border: 0px;
    max-width: 600px;
    min-width: 300px;
}
.centerMe {
    display: flex;
    align-content: center;
    justify-content: center;
}

@media screen and (maw-width: 900px) {
    .bannerImg {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .listHeader{
        text-align: center;
        margin: 30px;
    }
}