@font-face {
    font-family: CrimsonText;
    src: url(../assets/CrimsonText-Regular.ttf);
}
.basicBody {
    background-color: gainsboro;
}
.standardTxt {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
.navSpace {
    margin-top: 100px;
}
.Title {
    text-align: center;
    font-family: CrimsonText;
    font-size: 45px;
}
.heroImg {
    position: relative;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.heroTxt {
    position: absolute;
    top: 400px;
    left: 10%;
    margin-right: 250px;
}
.thumbnail {
    width: 500px;
}
.bannerText {
    font-size: 60px;
}
.bannerImg {
    width: 900px;
    margin-bottom: -16px;
}
hr {
    color: black;
    opacity: 100%;
}
.fontCorrect {
    font-family: CrimsonText;
    margin-top: 30px;
}
.standard {
    font-family: CrimsonText;
    font-size: 24px;
    margin: 40px;
}
.listHeader {
    font-family: CrimsonText;
}
.listImg {
    margin: 0px;
    padding: 0px;
    border: 0px;
    max-width: 600px;
    min-width: 300px;
}
.centerMe {
    display: flex;
    align-content: center;
    justify-content: center;
}

.FinalSmash{
    width: 210px;
    height: 210px;
}
.smashFont {
    font-family: CrimsonText;
    margin-right: 30%;
}

@media screen and (max-width: 1000px) {
    .bannerImg {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .listHeader{
        text-align: center;
        margin: 30px;
    }
    .heroTxt {
    position: absolute;
    top: 450px;
    left: 10%;
    margin-right: -300px;
    }
}